{% extends "home/base.html" %}
{% load static %}
{% load static tailwind_tags %}

{% load i18n %}
{% load account socialaccount %}

{% load tailwind_filters %}

{% block head_title %} Iniciar sesión - TechJobs {% endblock %}

{% block extra_head %}
  <!-- Tailwind -->
  {% tailwind_css %}
{% endblock %}

{% block content %}
  
  <!-- Background -->
<div class="background">
  <div class="back-flex">
      <div class="div1-login"></div>
      <div class="div2-login"></div>
    </div>
</div>
<!-- end Background -->

<!-- Barra de navegación -->
<div class="container, barra-navegacion">
  <a href="{% url 'home:index' %}"><img src="{% static 'home/images/Logo.svg' %}" alt="logo" id="logo"></a>
  <div id="busqueda">
      <input type="text" name="buscar" id="find" placeholder="Buscar empleos o profesionales...">
      <button type="submit"><img id="lupa"
              src="https://img.icons8.com/windows/50/000000/search--v2.png" /></button>
  </div>
  <div id="crear-cuenta">
      <a href="{% url 'home:faq' %}">Preguntas frecuentes</a>
      <a href="{% url 'account_signup' %}">Crear cuenta</a>
    </div>
</div>
<!-- end Barra de navegación -->

<!-- Tailwind -->
<div id="tailwind-form">
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-xl w-full space-y-8">
      <div>
        <img class="mx-auto h-20 w-auto" src="{% static 'home/images/Logo.svg' %}" alt="logo">
        <h2 class="mt-10 text-center text-3xl font-extrabold text-gray-900">Inicia sesión en tu cuenta</h2>
        <p class="mt-2 text-center text-xl text-gray-600">
          O registrate
          <a href="{% url 'account_signup' %}" class="font-medium text-blue-600 hover:text-orange-500"> como User</a> o
          <a href="{% url 'home:create-company' %}" class="font-medium text-blue-600 hover:text-orange-500"> como Empresa</a>
        </p>
      </div>
      <form class="mt-8 space-y-8" action="{% url 'account_login' %}" method="POST">
      {% csrf_token %}
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="">
            {{ form | crispy }}
          </div>
        </div>
        
          <div class="text-xl flex justify-center">
            <a href="{% url 'account_reset_password' %}" class="font-medium text-blue-600 hover:text-orange-500"> Olvidaste tu contraseña? </a>
          </div>

        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-xl font-medium rounded-md text-white bg-blue-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-blue-500 group-hover:text-orange-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            Ingresar
          </button>
        </div>
          <div class="text-xl flex justify-center">
            <a href="{% url 'home:index' %}" class="mt-5 w-full bg-blue-400 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-2lg font-medium text-white hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Volver al Home</a>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
