{% extends './base.html' %}
{% load static %}

{% block title %} Registrarse - TechJobs {% endblock %}

{% block content %}
    <!-- Barra de navegación, Paola -->
    <div class="container, barra-navegacion">
        <a href="{% url 'home:index' %}"><img src="{% static '../static/home/images/Logo.svg' %}" alt="logo" id="logo"></a>
        <div id="busqueda">
            <input type="text" name="buscar" id="" placeholder="Buscar empleos o profesionales...">
            <button type="submit"><img id="lupa"
                    src="https://img.icons8.com/windows/50/000000/search--v2.png" /></button>
        </div>
        <div id="crear-cuenta">
            <a href="{% url 'home:faq' %}">Preguntas frecuentes</a>
            <a href="{% url 'home:login' %}">Iniciar Sesión</a>
        </div>
    </div>
    <!-- end Barra de navegación -->

            <!-- Mensajes -->
            {% comment %} {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} {% endcomment %}
        {% comment %} {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %} {% endcomment %}

    <div class="container m-a">
        <div class="container-main m-a">
            <div class="main-flex">
                <div class="body">
                    <h1>Que bueno que quieras unirte a nosotros!</h1>
                    <p>Por el momento necesitamos los siguientes datos básicos. Más adelante podrás completar tu perfil agregando tus conocimientos y tu experiencia laboral.</p>
                </div>

                <!-- Form de registro -->
                <div class="form form-user">
                    <div class="form-body">
                        <form action="" method="post" >
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% comment %} <form action="{% url 'Core:uploadFile' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="text" name="fileTitle" placeholder="Enter a title">
                                <input type="file" name="uploadedFile">
                                <input type="submit" value="Upload">
                            </form> {% endcomment %}
                            <div class="flex flex-dir-col">
                                <button class="btn-main" type="submit">Crear cuenta</button>
                                <a href="{% url 'home:index' %}">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% endblock %}