{% extends './base.html' %}
{% load static %}

{% block title %} Registro - TechJobs {% endblock %}

{% block content %}
    <!-- Barra de navegación, Paola -->
    <div class="container, barra-navegacion">
        <a href="{% url 'home:index' %}"><img src="{% static '../static/home/images/Logo.svg' %}" alt="logo" id="logo"></a>
        <div id="busqueda">
            <input type="text" name="buscar" id="" placeholder="Buscar empleos o profesionales...">
            <button type="submit"><img id="lupa"
                    src="https://img.icons8.com/windows/50/000000/search--v2.png" /></button>
        </div>
        <div id="crear-cuenta">
            <a href="{% url 'home:faq' %}">Preguntas frecuentes</a>
            <a href="{% url 'account_login' %}">Iniciar Sesión</a>
        </div>
    </div>
    <!-- end Barra de navegación -->

    <!-- Main container -->
    <div class="container m-a">
        <div class="container-main m-a">
            <div class="main-flex">
                <div class="body">
                    <h1>Que bueno que quieras unirte a nosotros!</h1>
                    <p>Por el momento necesitamos los siguientes datos básicos. Más adelante podrás completar tu perfil agregando tus conocimientos y tu experiencia laboral.</p>
                </div>

                <!-- Form de registro -->
                <div class="form form-user">
                    <div class="form-body">
                        <form action="" method="post" >
                            {% csrf_token %}
                            {{ form_company.as_p | crispy }}
                            <div class="flex flex-dir-col">
                                <button class="btn-main" type="submit">Crear cuenta</button>
                                <a href="{% url 'home:index' %}">Volver al Home</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end Form de registro -->
            </div>
        </div>
    </div>
    <!-- end Main container -->

{% endblock %}