html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    outline: none;
}

body {
    margin: 0;
}

:root {
    --main-color: #3658cf;
    --secondary-color: #e18748;
    --background-secondary: #faeee7;
    --background-black: #151415;
}

/* Paola */
/* Nav */
.barra-navegacion {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}

#logo {
    margin-right: 3rem;
    margin-left: 1.5rem;
    width: 6rem;
}

#busqueda {
    margin-top: 0.5rem;
    height: 3.5rem;
    width: 40%;
    border: 1px solid var(--background-black);
    border-radius: 5rem;
    display: flex;
}

#busqueda input, #busqueda button {
    border: none;
    background-color: #FFF;
}

#busqueda input {
    margin: 0.1rem 1rem;
    width: 90%;
}

#busqueda button {
    margin: 0.1rem 1rem;
    width: 3rem;
    margin-left: auto;
}

#lupa {
    width: 2rem;
}

#crear-cuenta {
    display: flex;
    margin-right: 1.5rem;
    margin-left: auto;
}

#crear-cuenta a {
    margin: 1.3rem 0rem;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
    color: var(--background-black);
    margin-left: 2rem;
}

#crear-cuenta a:hover {
    color: var(--secondary-color);
    border-bottom: var(--secondary-color) solid 1px;
}

/* Cards empresas */
/* 
pedidosya: #fef4f5
    - hover: #f72d45
huli: #f4f5f9
    - hover #254578
accenture: #faf2ff
    - hover: #a917fe
invgate: #f5f5f5
    - hover: #383433

    tags: letra:#cb7e48, cuadro:#fbeee6
*/

#puestos {
    margin-top: 30rem;
}

#puestos > h2 {
    width: 90%;
    margin: 0 4rem;
    font-size: 2.8rem;
}

#cards {
    display: flex;flex-wrap: wrap;
    margin-top: 6rem;
}

.card-puestos {
    width: 23%;
    margin: 1rem;
    border-radius: 0.7rem;
}

.card-header {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
}

.card-header img {
    width: 35%;
    height: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.card-header-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 5% 0 ;
    margin: 2.5rem 0;
    margin-right: auto;
}

.card-header-title h3 {
    width: auto;
    margin: 0 5%;
    margin-bottom: 0.5rem;

}

.card-header-title h4 {
    margin: 0 5%;
    font-weight: 400;
}

.card-description p {
    padding-top: 0;
    /* border: #151415 solid; */
    text-align: center;
    font-size: 1.5rem;
    margin: 0rem 7rem;
}

.pedidosya {
    background-color: #fef4f5;
    margin-left: 4rem;
}

.pedidosya:hover {
    background-color: #f72d45;
    color: var(--background-secondary);
}

.card2 {
    margin-left: 1rem;
}

.huli {
    background-color: #f4f5f9;
}

.huli:hover {
    background-color: #254578;
    color: var(--background-secondary)
}

.accenture {
    background-color: #faf2ff;
}

.accenture:hover {
    background-color: #a917fe;
    color: var(--background-secondary);
}

.card3 {
    margin-left: 4rem;
}

.invgate {
    background-color: #f5f5f5;
}

.invgate:hover {
    background-color: #383433;
    color: var(--background-secondary);
}

.tags {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* border: #151415 solid; */
}

.tags p {
    border-radius: 0.3rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #fbeee6;
    color: #cb7e48;
}


/* Footer */
footer {
    background-color: var(--background-black);
    display: flex;
    margin-top: 3rem;
}

#creador {
    width: 55%;
    margin: 1.5rem 0rem;
    /* background-color: blueviolet; */
    margin-left: 45%;
    
}

#creador p {
    color: var(--background-secondary);
    font-size: medium;
    font-weight: bold;
}

#redes-sociales {
    width: 45%;
    display: flex;
    margin-right: 1.5rem;
    margin-left: auto;
}

#linkedin {
    margin-left: auto;
}

#redes-sociales img {
    margin: 2.8rem 2rem;
    width: 2.3rem;
    filter: invert(100%);
}


/* Brian Styles */
.container {
    width: 95%;
}

.container-main {
    width: 80%;
}

.main-flex {
    display: flex;
    align-items: center;
}

.background {
    position: absolute;
}

.back-flex {
    position: absolute;
    display: flex;
    z-index: -1;
}

.div1 {
    width: 50vw;
    height: 100vh;
    z-index: -1;
    box-shadow: 20px 0px 40px 20px white;
}

.div2 {
    width: 50vw;
    height: 100vh;
    z-index: -2;
    background-image: url("../images/Imagen.png");
    background-size: cover;
}

.body {
    width: 50%;
    margin-top: 2rem;
}

.body h1 {
    font-size: 4rem;
    margin-top: 10rem;
}

.body p {
    font-size: 2rem;
    margin-top: 5rem;
}

.form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-body {
    width: 80%;
    padding: 5rem 0;
    margin: 20rem 0 0 30rem;
    border-radius: .8rem;
    background-color: white;
    display: flex;
    justify-content: center;
}

.form-body input[type="email"], input[type="password"] {
    margin: 3rem 0;
    padding: 1rem;
    border-radius: .8rem;
    border: 1px solid rgb(201, 201, 201);
    transition: all .5s ease;
}

.form-body input[type="submit"] {
    margin: 2rem 0;
}

.btn-main {
    background-color: var(--main-color);
    border: none;
    border-radius: 1.6rem;
    padding: 1rem 0;
    color: white;
}

.btn-secondary {
    margin-top: 2rem;
    border: 1px solid var(--main-color);
    border-radius: 1.6rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-color);
}

.info {
    margin-top: 5rem;
}

.info h3 {
    font-size: 2rem;
}

.users {
    width: 50%;
    height: 200px;
}

.sections  div {
    width: 30%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem .5rem;
    padding: 2rem 0;
    font-size: 1.3rem;
    text-align: center;
    background-color: var(--background-secondary);
    color: var(--secondary-color);
}


.employeers {
    width: 50%;
    height: 200px;
}

.emp  img {
    width: 17%;
    height: 9rem;
    margin: 1rem .5rem;
    padding: 2rem 0;
}

.form-body a {
font-size: 1.5rem;
}

/* general styles */

.span {
    font-weight: bold;
}

.m-a {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-a-items-c {
    align-items: center;
}

.flex-j-content-c {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-j-content-space-b {
    justify-content: space-between;
}

.t-c {
    text-align: center;
}

/* end Brian Styles*/