<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/job/style/style.css' %}">
    <link rel="icon" href="{% static '../static/job/images/briefcase-solid.svg' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    </style> 
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    {% block content %}

    {% endblock %}

    <!-- Footer -->
    <footer>
        <div id="creador">
            <p>Copyright © 2022 - TECH JOBS<p>
    </div>
    <div id="redes-sociales">
        <a href="https://www.linkedin.com/in/paola-cartala/" id="linkedin" target='_blank' ><img src="{% static '../../static/home/images/linkedin-brands.svg' %}" alt="linkedin"></a>
        <a href="mailto:paola.cartala@gmail.com"><img src="{% static '../../static/home/images/at-solid.svg' %}" alt="email"></a>
        <a href="#"><img src="{% static '../../static/home/images/facebook-square-brands.svg' %}" alt="facebook"></a>
        <a href="https://www.instagram.com/paoc.bj23/" target='_blank' ><img src="{% static '../../static/home/images/instagram-brands.svg' %}" alt="instagram"></a>
    </div>
</footer>
</body>
</html>